body{
    background-color: rgb(98, 255, 103);
    text-align: center;
}
    main{
        text-align: center;
    }
    footer{
        margin-top: 100em;
        text-align: center;
    }
    .op{
        height: 200px;
        width: 600px;
    }
    .oi {
            height: 200px;
            width: 600px;
    }