body{
    background-image:url(mod.jpg)
    text-align: center;
}
    main{
        text-align: center;
    }
    footer{
        margin-top: 100em;
        text-align: center;
    }
        img{ 
            width: auto;
            height: 200px;

        }